.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-details {
    margin-right: 20px;
}

.user-greeting {
    display: flex;
    align-items: center;
}

.user-greeting h3 {
    margin: 0;
    margin-right: 10px;
}

#my_message {
  float: left;
  display: none;
  height: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  transition: height 0.5s ease-in-out;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

table { 
    border-collapse: collapse;
}

.table_sort th {
    background: #d8d8d8;
    cursor: pointer;
}

.table_sort td,
.table_sort th {
    width: 110px;
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

.table_sort tbody tr:nth-child(odd){
    background: #F7F7F7;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
}

th.sorted[data-order="-1"]::after {
    content: "▼";
}

th.sorted[data-order="1"]::after {
    content: "▲";
}

label {
  vertical-align: top;
}